<launch>
  <!-- Pose estimation -->
  <node name="estimate_pose" pkg="navigation" type="estimate_pose"/>

  <!-- LiDAR object detection -->
  <node name="vlp16_sim_obst_detection" pkg="lidar_package" type="vlp16_sim_obst_detection" />

  <!-- Navigation -->
  <node name="mission_control" pkg="auto_navi" type="mission_control" />
  <node name="motor_node" pkg="auto_navi" type="motor_node" />
  <node name="voronoi_node" pkg="auto_navi" type="voronoi_node" />
  <node name="linedrive" pkg="auto_navi" type="linedrive" />


</launch>
