<launch>
  <node pkg="tf2_ros" type="static_transform_publisher" name="base_link_broadcaster" args="0 0 0 0 0 0 odom base_link"/>

  <!-- Convert xacro to URDF -->
  <param name="robot_description" command="$(find xacro)/xacro --inorder $(find ecocar_description)/urdf/ecocar.xacro" />

  <!-- Spawn Ecocar from URDF -->
  <node name="spawn_urdf" pkg="gazebo_ros" type="spawn_model" args="-param robot_description -urdf -model ecocar" />

  <!-- Gives /tf and /tf_static  -->
  <node name="robot_state_published" pkg="robot_state_publisher" type="state_publisher" />

  <!-- Node for organizing gyro_angle and teensy_read topics from raw topics -->
  <node name="topic_organizer" pkg="ecocar_gazebo" type="topic_organizer" />

</launch>
