<?xml version="1.0"?>

<model>
  <name>Tecpro Karting Barrier (red)</name>
  <version>1.0</version>
  <sdf version="1.5">model.sdf</sdf>

  <author>
    <name>Thomas Passer Jensen</name>
    <email>s134234@student.dtu.dk</email>
  </author>

  <description>
    A model of a Tecpro Karting Barrier, Plastic (red)
  </description>

</model>
