<?xml version="1.0"?>

<model>
  <name>Road markers</name>
  <version>1.0</version>
  <sdf version="1.5">model.sdf</sdf>

  <author>
    <name>Thomas Passer Jensen</name>
    <email>s134234@student.dtu.dk</email>
  </author>

  <description>
    A road marker object, all visual is created by the plugin
  </description>

</model>
