[Desktop Entry]
Name=Learning Mode
Comment=This starts all required nodes for learning mode
Exec= bash -ic /home/dynamo/Scripts/launch_learning_mode.sh
Icon=/home/dynamo/Source/Documentation/Repository Icon.png
Terminal=true
TerminalOptions=bash
Type=Application
