<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro" name="ecocar">

  <xacro:property name="width" value="1.298" />
  <xacro:property name="length" value="3.387" />
  <xacro:property name="height" value="0.9" />
  <xacro:property name="rear_track_width" value="0.8" />
  <xacro:property name="front_track_width" value="1.084" />
  <xacro:property name="wheelbase" value="1.516" />
  <xacro:property name="wheel_mass" value="5.3" />
  <xacro:property name="wheel_radius" value="0.2794" />
  <xacro:property name="wheel_width" value="0.2" /> <!-- check value -->
  <xacro:property name="body_mass" value="117.8655" />
  <xacro:property name="body_above_ground" value="0.1666" />  <!-- measured on solidworks model -->
  <xacro:property name="wheel_mid_offset" value="0.18" />  <!-- measured on solidworks model -->
  <xacro:property name="wheel_joint_damping" value="0" />
  <xacro:property name="wheel_joint_friction" value="0" />
  <xacro:property name="max_turn" value="20" />
  <xacro:property name="velodyne_lidar_frequency" value="10" />
  <xacro:property name="velodyne_lidar_samples" value="440" />
  <xacro:property name="sonar_offset" value="0.3" />

</robot>
